@model GymManager.Web.Models.MemberViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/views/members/create.js"></script>

}


<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mt-5">Edit member</h3>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-outline-info float-end">Back</a>
        </div>
    </div>
    

    <form asp-action="Edit">
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">First Name</label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="BirthDay" class="form-label">Date of birth</label>
            <input type="text" class="form-control" asp-for="BirthDay" />
            <span asp-validation-for="BirthDay" class="text-danger"></span>
        </div>



        <div class="mb-3">
            <label asp-for="CityId" class="form-label">City</label>
            <select class="form-control" asp-for="CityId">
                <option value="2">Alabama</option>
                <option value="3">Alaska</option>
                <option value="4">Arizona</option>
                <option value="5">Arkansas</option>
                @*<option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>*@
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="MembershipTypeId" class="form-label">Membership Type</label>
            <select class="form-control" asp-for="MembershipTypeId">
                <option value="1">Standard</option>
                <option value="2">Premium</option>
                <option value="3">Gold</option>
                <option value="4">Platinum</option>
            </select>
            <span asp-validation-for="MembershipTypeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email Address</label>
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="AllowNewsletter" class="form-check-label">Suscribe to our newsletter?</label>
            <input type="checkbox" class="form-check-input" asp-for="AllowNewsletter" />
            <span asp-validation-for="AllowNewsletter" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>
</div>