@model GymManager.Web.Models.MemberViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderRight
    {
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
    </form>
}
@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container">
    <h1 class="mt-5">Renewal Membership</h1>

    @* <div class="row">
        <div class="col-6">
            <p>New members of week: @Model.NewMembersCount</p>
        </div>
        <div class="col-6">
            <a asp-action="Create" class="btn btn-outline-success float-end">Add Member</a>
        </div>
    </div> *@

    <form asp-action="OnSearchMember" method="get">
        <div class="input-group">
            <input type="text" class="form-control" id="idField"   name="memberId" placeholder="Ingrese el ID">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>

    <div id="contenedorPartialView">
        @if (Model.Id !=0 && Model.MembershipTypeId !=0)
        {
            @await Html.PartialAsync("~/Views/Shared/_Member.cshtml",Model)
        }
       
        
    </div>
    
    @* <div class="input-group">
        <input type="text" class="form-control" id="idField" name="id" placeholder="Ingrese el ID">
        <div class="input-group-append">
            <a asp-action="Edit" asp-route-equipmentId=idField class="btn btn-outline-info">Edit</a>
        </div>
    </div> *@

    @* @await Html.PartialAsync("~/Views/Shared/_MemberList.cshtml",Model.Members) *@
</div>
