@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5 mb-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="d-flex flex-row p-2">
                    <img src="https://localhost:44353/Images/logo.jpg" width="68" style="margin-right:10px;" />
                    <div class="d-flex flex-column"><span class="font-weight-bold">Tax Invoice</span><small>INV-001</small></div>
                </div>
                <hr />

                <div class="table-responsive p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>To</td>
                                <td>From</td>
                            </tr>
                            <tr class="content">
                                <td>Google <br /> Attn: John Smith Pymont <br />Australia</td>
                                <td>Facebook <br /> Attn: John Right Polymont <br />USA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="products p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>Description</td>
                                <td>Days</td>
                                <td>Price</td>
                                <td>Total</td>
                            </tr>
                            <tr class="content">
                                <td>Website Redesign</td>
                                <td>15</td>
                                <td>$1,500</td>
                                <td>$22,500</td>
                            </tr>
                            <tr class="content">
                                <td>Logo & Identity</td>
                                <td>10</td>
                                <td>$1,500</td>
                                <td>$15,000</td>
                            </tr>
                            <tr class="content">
                                <td>Marketing Collateral</td>
                                <td>3</td>
                                <td>$1,500</td>
                                <td>$4,500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr />
                <div class="table-responsive p-2">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="add">
                                <td>Bank Details</td>
                                
                            </tr>
                            <tr class="content">
                                <td>Bank Name: ADS BANK</td>
                            </tr>
                            <tr class="content">
                                <td>Swift Code: ADS1234Q</td>
                               
                            </tr>
                            <tr class="content">
                                <td>Account Holder: Jelly Pepper</td>
                            </tr>
                            <tr class="content">
                                <td>Account Number: 5454542WQR</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>